@import url("../website.css");

.item-description {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}


progress {
    width: 40%;
    display: block; /* default: inline-block */
    margin: 2em auto;
    padding: 3px;
    border: 0 none;
    background: #444;
    border-radius: 14px;
  }
  progress::-moz-progress-bar {
    border-radius: 12px;
    background: #00ff00;
  
  }
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
